extends templates/layout.jade

block content
	.page-wrapper
		.content-wrapper
			.info-wrapper
				h1.title.top 4 years &nbsp;&nbsp;&nbsp;&nbsp; later, of F#!÷§ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;& wins
				h1.title.bottom &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;still figuring &nbsp;&nbsp;this &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;out.
				.details
					.rrss-wrapper
						p Wanna read more from me? I'd be honored if you stop by:
						ul
							li
								a(href="https://codepen.io/Andrew__Alva") Codepen
							li
								a(href="https://medium.com/@andrew__alva") Medium
							li
								a(href="https://twitter.com/andrew__alva") Twitter

				.photo-wrapper
					.photo
		
		.author © My 2019 bed, for real.

		#fulltilt Hey
	

	.not-mobile
		.info-wrapper
			h1.title.top 
				|Don't cheat, you should be coming from the 
				span.highlight 'gram
			h1.title.bottom Sorry, this is just for mobile