doctype html
html(class='no-js')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1')
		meta(name='viewport', content='shrink-to-fit=no, initial-scale=1.0, minimum-scale=1, width=device-width, height=device-height')
		title Insta-Room 2019

		//- metatags
		meta(name='description', content='4 years later, of lots screws and a couple wins, here we are, trying to figure it out.')
		meta(name='subject', content='Andrew Alva 2019')

		link(href="https://fonts.googleapis.com/css?family=Paytone+One" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet")

		//- stylesheets
		link(rel='stylesheet', href='css/app.css')

	body
		//- content
		#main-wrapper
			block content

		//- scripts
		script(async src="https://www.googletagmanager.com/gtag/js?id=UA-79153292-10")
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-79153292-10');

		script(src='js/app.js')